{% extends "base.html" %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>
      {% block title %}
      {{ post.location }}. {{ post.date }}
      {% endblock %}
    </title>
  </head>
  <body>
    <main>
      {% block content %}
      <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: {{ post.location }}
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' post.category %}">
                {{ post.category }}</a>
            </li>
          </ul>
          <p>
            {{ post.text|linebreaksbr }}
          </p>
        </article>
      </div>
      {% endblock %}
    </main>
  </body>
</html>
